
<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <h3>@ViewBag.PageTitle </h3>

        <div>
           Name:  @Model.Name;
        </div>
        <div>
           Email:  @Model.email;
        </div>


        <div>
           Department:  @Model.Department;
        </div>
    </body>

</html>
